{% extends 'main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="room-container">

    <div>
        
        <h1> {{room.name}} </h1>

        <p> {{room.description}}</p>


        <div class="comment-wrapper"> 
            <h3>Conversations</h3>
            <hr>

            {% for message in room_messages %}
            <div> 
                
                <a href="{%url 'delete-message' message.id%}">Delete</a>
                
                <small>@{{message.user}} {{message.created|timesince}} ago</small>
                <p>{{message.body}}</p>
                <hr>
            </div>

            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="post" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message..."/>

            </form>
        </div>
        {%endif%}
    </div>

    <div>
        <h3>Room Participants</h3>
        <hr>

        {% for user in participants%}
            <div>
                <p>@{{user.username}}</p>
            </div>

        {% endfor%}
    </div>



</div>

{% endblock %}